.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-text {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.6);
}

.hero-text-mob {
    display: none;
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-buttons a {
    color: #F6F4F1;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
}

.glass {
    font-family: 'Red Hat Display', sans-serif;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1000px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: #F6F4F1;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: 100ms ease;
}

.glass:hover {
    background: rgba(255, 255, 255, 0.2);
}

section {
    width: 80%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    background-image: ;
}

.elfsight-app-b91f9785-2370-4020-a606-30c8c68bd6e0 {
    margin-top: 50px;
    letter-spacing: 0.4px;
}

@media (max-width: 768px) {
    .hero-text {
        gap: 20px;
    }
    .hero-text-mob {
        display: block;
    }
    .hero-text-desk {
        display: none;
    }
}