.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-text {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.6);
}

.hero-text-mob {
    display: none;
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-buttons a {
    color: #F6F4F1;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
}

.glass {
    font-family: 'Red Hat Display', sans-serif;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1000px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: #F6F4F1;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: 100ms ease;
}

.glass:hover {
    background: rgba(255, 255, 255, 0.2);
}

section {
    width: 80%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.reviews-slider {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
}

.reviews-track {
    display: flex;
    gap: 30px;
    transition: transform 0.4s ease;
}

.review-card {
    background: #fff;
    border-radius: 20px;
    padding: 30px;
    width: 350px;
    min-height: 250px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stars {
    color: #f5b809;
    font-size: 22px;
    margin-bottom: 10px;
}

.google-logo {
    width: 25px;
    margin-bottom: 10px;
}

.review-author {
    font-weight: bold;
    margin-top: 20px;
}

.review-count {
    color: #666;
    font-size: 14px;
}

.author-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
}

.arrow {
    background: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    cursor: pointer;
    z-index: 10;
}

.arrow.left { margin-right: 20px; }
.arrow.right { margin-left: 20px; }

@media (max-width: 768px) {
    .hero-text {
        gap: 20px;
    }
    .hero-text-mob {
        display: block;
    }
    .hero-text-desk {
        display: none;
    }
}