.prices-section {
    width: 60%;
    margin: 50px auto 50px auto;
}

.vertical-price-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.price {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vertical-line {
    width: 100%;
    height: 2px;
    background-color: #D9D9D9;
    margin-top: 10px;
}

.price-card {
    display: flex;
    align-items: stretch; /* makes both columns equal height */
    gap: 20px;
}

.image-wrapper, .price-text-box {
    flex: 1;       /* each takes up half the width */
    min-width: 0;  /* prevents overflow */
}

.image-wrapper {
    display: flex; /* guarantees stretch height */
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.price-text-box {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}