* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F4F1;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 10%;
    background-color: rgba(30, 30, 30, 0.9);
    backdrop-filter: blur(10px);
}

nav {
    display: flex;
    gap: 60px;
}

.socials-box {
    display: flex;
    gap: 6px;
}

.socials-box svg:hover{
    opacity: 0.8;
}

footer {
    display: flex;
    width: 100%;
    margin: auto;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6875B8;
    padding-bottom: 10px;
}

footer p {
    color: #F6F4F1;
}

.footer-content {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 160px;
    align-self: stretch;
}

.footer-box {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.hours-lists {
    display: flex;
    align-items: center;
    gap: 15px;
}

.hours-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.hours-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.info-bullet-point {
    display: flex;
    flex-direction: row;
    height: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}