* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    background-color: #F6F4F1;
    font-family: 'Red Hat Display', sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 10%;
    background-color: rgba(30, 30, 30, 0.9);
    backdrop-filter: blur(10px);
}

.nav-box {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

nav {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 0px 60px;
}

.socials-box {
    display: flex;
    gap: 6px;
}

.socials-box svg:hover{
    opacity: 0.8;
}

.contact-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(30, 30, 30, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px #ffffff40 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    backdrop-filter: blur(20px);
    transition: 100ms;
}

.contact-btn:hover {
    background-color: rgba(100, 100, 100, 0.3);
}

.popup {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 30px;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    color: #1e1e1e;
    border-radius: 10px;
    z-index: 10;
    backdrop-filter: blur(20px);
}

.contact-popup:hover {
    .popup {
        display: block;
    }
}

footer {
    display: flex;
    width: 100%;
    margin: auto;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6875B8;
    padding-bottom: 10px;
}

footer p {
    color: #F6F4F1;
}

.footer-content {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    align-self: stretch;
}

.footer-box {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.hours-lists {
    display: flex;
    align-items: center;
    gap: 15px;
}

.hours-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.hours-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.info-bullet-point {
    display: flex;
    flex-direction: row;
    height: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero-pic {
    width: 100%;
    margin-top: 89px;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #F6F4F1;
    font-size: 20pt;
}

.hero-text-box {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.hero-text-box img {
    height: 80px;
}


.form-row {
    margin-bottom: 10px;
}

.form-input {
    display: block;
}

.form-error {
    color: red;
}

#popup-form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#popup-form-container form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    margin: 30px auto;
}

@media (max-width: 768px) {
    header nav {
        display: none;
    }

    header .socials-box {
        display: none;
    }

    .hero-pic {
        font-size: 16pt;
    }

    .hero-text-box img {
        display: none;
    }

    footer {
        height: fit-content;
        padding: 40px 0px 20px 0px;
        gap: 60px;
    }
    .footer-content {
        flex-direction: column;
        gap: 60px;
    }
}