* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    background-color: #F6F4F1;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 10%;
    background-color: rgba(30, 30, 30, 0.9);
    backdrop-filter: blur(10px);
}

.nav-box {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

nav {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 0px 60px;
}

.socials-box {
    display: flex;
    gap: 6px;
}

.socials-box svg:hover{
    opacity: 0.8;
}

.contact-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(30, 30, 30, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px #ffffff40 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    backdrop-filter: blur(20px);
    transition: 100ms;
}

.contact-btn:hover {
    background-color: rgba(100, 100, 100, 0.3);
}

footer {
    display: flex;
    width: 100%;
    margin: auto;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6875B8;
    padding-bottom: 10px;
}

footer p {
    color: #F6F4F1;
}

.footer-content {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 160px;
    align-self: stretch;
}

.footer-box {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.hours-lists {
    display: flex;
    align-items: center;
    gap: 15px;
}

.hours-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.hours-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.info-bullet-point {
    display: flex;
    flex-direction: row;
    height: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media (max-width: 768px) {
    header nav {
        display: none;
    }

    header .socials-box {
        display: none;
    }

    footer {
        height: fit-content;
        padding: 40px 0px 20px 0px;
        gap: 60px;
    }
    .footer-content {
        flex-direction: column;
        gap: 60px;
    }
}