.prices-section {
    width: 60%;
    margin: 50px auto 50px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.vertical-price-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.price {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vertical-line {
    width: 100%;
    height: 1px;
    background-color: black;
    opacity: 0.2;
    margin-top: 10px;
}

.price-card {
    display: flex;
    align-items: stretch;
    gap: 30px;
    margin: 30px 0 30px 0;
}

.price-card:last-child {
    margin-bottom: 0;
}

.image-wrapper, .price-text-box {
    flex: 1;
    min-width: 0;
}

.image-wrapper {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.price-text-box {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.price-text-box h3 {
    margin: 0;
}

.other-price-text-box {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.other-price-text-box h3 {
    margin: 0;
}

.other-price-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 20px;
    gap: 20px;
}

.other-vertical-price-container {
    display: flex;
    flex-direction: row;
}

.other-price {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 768px) {
    .prices-section {
        width: 80%;
        margin: 50px auto 20px auto;
    }

    .price-card, .other-price-card {
        flex-direction: column;
    }

    .image-wrapper, .price-text-box, .other-price-text-box {
        flex: none;
        width: 100%;
    }

    .other-price-text-box {
        flex-direction: column;
        gap: 10px;
    }

    .vertical-price-container, .other-vertical-price-container {
        flex-direction: column;
    }

    #hide-pic {
        display: none;
    }
}